<div class="container-fluid bg-light" style="margin: auto;">
    <div class="container bg-light">
        
        <div class="row mt-4" style="height: 500px">
            <div class="col"></div>
            <div class="col-mid-6 bg-white shadow" style="width: 50%;">

                <div class="card bg-warning mt-4">
                    <h4 class="text-white ps-3 pt-2 pb-1">To Do List</h4>
                </div>

                <div class="input-group mb-3 p-4 shadow">
                    <input type="text" class="form-control" name="task" [(ngModel)]="addTaskValue" placeholder="Add a task..." required>
                    <button class="btn btn-outline-success" type="button" (click)="onClick()">{{ changeName }}</button>
                </div>

                <div style="overflow-y: auto; height: auto;">
                    <div class="m-3" *ngFor="let task of taskArray">
                        <div class="p2 shadow border">
                            <div class="input-group row ps-3">
                                <div class="card col-md-8 border-0 pt-2">{{task.task_name}}</div>
                                <button class="btn btn-outline-danger col me-1" (click)="editTask(task)">Edit</button>
                                <button class="btn btn-outline-danger col" [disabled]="addTaskValue" (click)="deleteTask(task)">Delete</button>
                            </div>
                       </div>
                     </div>
                </div>

            </div>
            <div class="col"></div>
        </div>

    </div>
</div>
